include ../../node_modules/bemto.pug/bemto.pug

- set_bemto_settings({ prefix: { '': 'b-', 'js-': true, '-': false }, element: '__', modifier: '--', default_tag: 'div' })

block variables
- var requireJS = false

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="google" content="notranslate")
        meta(name="format-detection" content="telephone=no")
        //- Цвета/тема Браузера (вкладок)
        //- //- Chrome, Firefox, Opera
        //- meta(name="theme-color" content="#2e3192")
        //- //- Windows Phone
        //- meta(name="msapplication-navbutton-color" content="#2e3192")
        //- //- iOS Safari
        //- meta(name="apple-mobile-web-app-status-bar-style" content="default")

        block styles
            //- link(href="css/normalize/normalize.css" rel="stylesheet")
            //- link(href="css/" + file_name + ".css" rel="stylesheet")
            //- link(href="css/main.css?" + new Date().getTime() rel="stylesheet")
            link(media='none', onload="if(media!='all') media='all'", type='text/css', rel="stylesheet", href="css/main.css?10")
            link(href="css/mobile.css?10" rel="stylesheet")
            link(href="css/tablet.css?10" rel="stylesheet" media="(min-width: 768px)")
            link(href="css/desktop-min.css?10" rel="stylesheet" media="(min-width: 1024px)")
            link(href="css/desktop.css?10" rel="stylesheet" media="(min-width: 1360px)")
        
        block favicon
            link(rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png")
            link(rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png")
            link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png")
            link(rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png")
            link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png")
            link(rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png")
            link(rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png")
            link(rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png")
            link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png")
            link(rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png")
            link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png")
            link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
            link(rel="manifest" href="manifest.json")
            meta(name="msapplication-TileColor" content="#ffffff")
            meta(name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png")
            meta(name="theme-color" content="#ffffff")

        //- jquery подключаем в шапке т.к. какой-то js может быть внутри компонентов
        //- block scripts
        //- script(src='js/jquery/jquery.min.js')

        block head
        title= pageTitle || ''
        meta(name='description' content=pageDescription || '')
        meta(name='keywords' content=pageKeywords || '')
        if map == true
            script(src='https://api-maps.yandex.ru/2.1.70/?lang=ru_RU')

        <!--[if lte IE 9]>
        script(src="js/html5shiv/html5shiv.min.js")
        <![endif]-->
    body.js-page-wrapper(class=(main ? 'overflow' : ''))
        //- include layout/header.pug
        //- +header()
        +b.page-wrapper

            +b('main').main(role="main")
                block content

            //- include layout/footer.pug
            //- +footer()

        block popup


        if requireJS == true
            - var js_filename = 'config'
            if (typeof(file_name) !== 'undefined')
                - var js_filename = file_name
            script(src="js/require.js?" + new Date().getTime() data-main="js/" + js_filename)
        else
            script(src="js/external.js?"+ new Date().getTime())
            script(src="js/internal.js?"+ new Date().getTime())
            //- script(src="js/js-assets.js?"+ new Date().getTime())
            if page404 == true
                script(src='404.js')