/* 1366++  */
.b-container {
    max-width: 1325px;//1140px;

    &--min {
        width: 1104px;
    }

    &--middle {
        width: 1104px;
    }

    &--share {
        width: 1014px;
    }

    &--contact {
        width: 1100px;
    }

    &--banner {
        width: 1104px;
    }

    &--sphere {
        max-width: 712px;
        margin-right: 0;
    }

    &--blog {
        padding-bottom: 34px;
    }

    .b-scope-application &,
    .b-training-program & {
        width: 881px;
    }

    .b-tag-wrapper & {
        padding-left: 90px;
    }

    .b-scope-application & {
        &--scope-application {
            width: 1104px;
        }
    }

    .b-distributor-list & {
        width: 898px;
    }
}