@font-face {
    font-family: "exo-thin";
    font-display: swap;
    src: url("../exo-thin.eot");
    src: url("../exo-thin.eot?#iefix") format("embedded-opentype"),
        url("../exo-thin.woff") format("woff"),
        url("../exo-thin.woff2") format("woff2"),
        url("../exo-thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}